<div>
  <nav>
    <h2><a routerLink="/">CodeBin</a></h2>
    <ul>
      @if(isAuthenticated()){
      <li>
        <a (click)="logout()">Logout</a>
      </li>
      }@else{
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login page
        </a>
      </li>
      <li>
        <a
          routerLink="/signup"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Signup
        </a>
      </li>
      }

      <li>
        <a
          routerLink="/create-bin"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Create Bin
        </a>
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
    </ul>
  </nav>
  <hr />
</div>
